@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");
$mainColor: #2fa3d4;
$secondColor: #fabb27;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
  direction: rtl;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 65px;
  height: 65px;
  line-height: 70px;
  text-align: center;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 16%);
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
  i {
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}

.iMenue {
  transform: rotate(-90deg);
  // @extend %transition;
}

.splash.displayNone {
  visibility: hidden;
  opacity: 0;
}

.splash {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;
  text-align: center;
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash img {
  display: inline-block;
  margin-bottom: 100px;
  max-width: 255px;
  width: auto;
}

.splash .loadProgress {
  width: 400px;
  background-color: #e5e5e5;
  height: 10px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

@media (max-width: 480px) {
  .splash .loadProgress {
    width: 280px;
  }
}

.splash .loadProgress .lineStyle {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;

  background-color: #25a1a5;
  -moz-animation: move-progress 3s linear infinite;
  -ms-animation: move-progress 3s linear infinite;
  -o-animation: move-progress 3s linear infinite;
  -webkit-animation: move-progress 3s linear infinite;
  animation: move-progress 3s linear infinite;
}

@keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes move-progress {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-moz-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@-ms-keyframes move-progress {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.sidenav {
  height: 100%;
  width: 300px;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: -400px;
  background-color: #fff;
  box-shadow: 0 22px 22px rgba($color: #000000, $alpha: 5%);
  overflow-x: hidden;
  padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;

  .navItem {
    margin-bottom: 20px;
    text-align: right;
    display: block;

    &:last-child {
      background-color: $mainColor;
      width: 190px;
      text-align: right;
      height: 44px;
      line-height: 44px;
      float: right;
      .navLink {
        color: #fff;
      }
      i {
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: $mainColor;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin-right: 5px;
      }
    }
  }
  .navLink {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #002543;
    transition: 0.3s;
    padding-right: 16px;
    &:hover {
      color: $mainColor;
    }
  }

  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    // margin-left: 50px;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid $mainColor;
      color: $mainColor !important;
      line-height: 37px;
      // @extend %transition;
    }
  }
  .logo {
    width: auto;
    max-width: 205px;
    margin-bottom: 29px;
    margin-top: 39px;
    // padding: 10px;
  }

  .NesteListParent {
    position: relative;
    i {
      position: absolute;
      left: 10px;
      color: $mainColor;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  .social {
    text-align: center;
    line-height: 33px;
    a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      i {
        color: #002060;
      }
    }
  }
  .lang {
    margin-top: 10px;
    .spanLabel {
      font-size: 14px;
      font-weight: 200;
    }
    .nice-select {
      float: none;
      display: inline-block;
      border: 0;
      // padding: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bold;
      color: #002060;
      font-size: 14px;
      height: 33px;
      line-height: 33px;
    }
  }
}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

.form-control {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px solid $mainColor;
  }
}

.slick-next,
.slick-prev {
  z-index: 10;
}

.mynavbar {
  background-color: #f5f7f7;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  .logo {
    img{
      width: 180px;
    }
  }
  .option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    a {
      padding: 10px 15px;
      color: #000;
      &:hover {
        color: $mainColor;
      }
    }
  }
  .login {
    background-color: $mainColor;
    color: #fff !important;
    border: 1px solid $mainColor;
    // height: 50px;
    text-align: center;
    border-radius: 5px;
    &:hover {
      background-color: transparent;
      color: #000 !important;
    }
  }
}

.customNav{
  position: unset
}

.header {
  @extend %img-bg-style;
  height: 100vh;
  background-position: bottom !important;
  .header-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: 160px;
    }
    h5 {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      margin: 0;
      margin-top: 5px;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: normal;
      color: #fff;
      margin: 0;
      margin-top: 5px;
      text-align: center;
    }
  }
}

.copy {
  background-color: #222222;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  h5 {
    color: rgba(#fff, 50%);
    font-size: 16px;
    margin: 0;
  }
}

.customCopy{
  position: unset;
}


.login {
  .row {
    margin: 0;
    .col-lg-7 {
      padding: 0;
    }
  }
  .loginPhone{
    display: none;
  }
  .login-bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    p{
      color: #fff;
      padding-top: 30px;
      font-size: 50px;
    }
  }
  .login-content {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    .logo {
      // max-width: 173px;
      // max-height: 39px;
      img{
        width: auto;
      }
    }
    .par {
      color: #000;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
    .optionLink{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      a{
        padding: 10px 15px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        border: 2px solid #2A3148;
        color: #2A3148;
        &:first-child{
          background-color: #2A3148;
          color: #fff;
          &:hover{
            background-color: transparent;
            color: #2A3148;
          }
        }
        &:hover{
          background-color: #2A3148;
          color: #fff;
        }
      }
    }
    .login-form {
      margin-top: 30px;
      // .col-lg-12{
      //   padding: 0;
      // }
      .form-group {
        margin-bottom: 10px;
        .form-control {
          height: 50px;
          direction: rtl;
          &:focus{
            outline: 0 !important;
            box-shadow: none !important;
            border: 1px solid $mainColor;
          }
          &::placeholder{
            font-size: 14px;
            color: #000;
          }
        }
      }
      .forget-password {
        text-align: left;
        a {
          font-weight: 600;
          color: $mainColor;
          margin-top: 40px;
          text-decoration: none;
          font-size: 15px;
        }
      }
      .btn-submit {
        margin-top: 15px;
        .btn {
          text-transform: uppercase;
          background-color: #2A3148;
          color: #fff;
          height: 50px;
          width: 100%;
          &:hover{
            border: 1px solid #2A3148;
            background-color: #fff;
            color: #2A3148;
          }
        }
      }
      .remember{
        text-align: right;
        .container {
          display: inline;
          position: relative;
          padding-left: 30px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 13px;
          font-weight: 600;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
              ~ {
                .checkmark {
                  background-color: #fff;
                  border: 1px solid $mainColor;
                  border-radius: 4px;
                  &:after {
                    display: block;
                  }
                }
              }
            }
          }
          .checkmark {
            &:after {
              left: 6px;
              top: 2px;
              width: 6px;
              height: 12px;
              border: solid $mainColor;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .checkmark {
          position: absolute;
          top: 2px;
          right: 0;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border: 1px solid $mainColor;
          border-radius: 4px;
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
        }
      }
    }
  }
}

.landing-content{
  margin-bottom: 70px;
  .headContent{
    text-align: center;
    margin-top: 50px;
    h5{
      color: #222;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 40px;
      &::after{
        content: "";
        width: 50px;
        height: 3px;
        background-color: #222;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
      }
    }
    p{
      width: 70%;
      margin: auto;
      max-width: 100%;
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    span{
      display: inline-block;
      &::before{
        content: "-"
      }
    }
  }
  .videoDiv{
    margin-top: 80px;
    .exLogo{
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      img{
        width: 70px;
        margin-right: 5px;
      }
      span{
        font-size: 50px;
        letter-spacing: 5px;
        font-weight: bold;
        color: #002060;
      }
    }
    .exUl{
      margin-top: 20px;
      li{
        font-size: 25px;
        font-weight: bold;
        color: #002060;
        margin-bottom: 10px;
        i{
          font-weight: 900;
        }
        span{
          font-weight: normal;
          color: #000;
          font-size: 20px;
        }
      }
    }
    .start{
      background-color: #294FA2;
      border-radius: 30px;
      padding: 10px 10px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      border: 1px solid #294FA2;
      width: 200px;
      display: inline-block;
      margin-top: 15px;
      // margin: auto;
      &:hover{
        background-color:#fff;
        color: #000;
      }
    }

  }
  video{
    width: 100%;
  }
}

// nice select
.nice-select{
  width: 100%;
  margin-bottom: 10px;
  text-align: right !important;
  padding-right: 0.75rem;
  border: 1px solid #ced4da;

}
.nice-select:after{
  right: unset;
  left: 12px;
}
.nice-select.open .list{
  width: 100%;
}
.nice-select .option{
  text-align: right;
}

// input-group
.input-group{
  .form-control{
    border-left: 0;
  }
  .input-group-text{
    background-color: transparent;
  }
}


@media (max-width: 1441px) {
  .login{
    .login-content{
      .logo{
        width: 250px;
      }
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
  .login .login-content{
    width: 100%;
  }
  .login .login-content .login-form{
    // margin-top: 51px;
  }
  .login .forget-password{
    // text-align: left !important;
    a{
      font-size: 14px !important;
    }
  } 
}

@media (max-width: 991px) {
  .login .forget-password{
    text-align: left !important;
    margin-top: 0px;
  }
  .login .login-content{
    padding-top: 25px;
  } 
  .login{
    .loginNormal{
      display: none;
    }
    .login-form{
      padding-bottom: 20px;
    }
    .loginPhone{
      display: block;
    }
  }
  .landing-content .videoDiv .start{
    margin-bottom: 30px;
  }
  
  .landing-content .headContent p{
    width: 100%;
  }
  .landing-content .videoDiv .exLogo{
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 960px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile & Tablets */
@media (max-width: 767px) {
}

/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
  .mynavbar .option {
    justify-content: center;
  }
  .mynavbar {
    .logo {
      text-align: center;
      
      img {
        display: block;
        width: 150px;
        margin: auto;
      }
    }
  }
  .mynavbar .option {
    margin-top: 10px;
  }
  .mynavbar .option a {
    padding: 7px 11px;
  }
  .header .header-content img {
    width: 100px;
  }
  .header .header-content h5{
    font-size: 22px;
  }
  .header .header-content p{
    font-size: 15px;
  }
  .copy h5{
    font-size: 12px;
  }
  .header .header-content{
    padding-top: 100px;
  }
  .login .login-content{
    padding-bottom: 20px;
  }
  .login .login-bg{
    margin-top: 20px;
    display: none;
  }
  .login .forget-password{
    margin-top: 10px;
  }
}

@media (max-width: 321px) {
}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
